body {
    background-color: rgb(37, 37, 37);
    font-family: 'Courier New', Courier, monospace;
}

h1, h3 {
    color: rgb(132, 19, 188);
}

h2 {
    color: rgb(192, 189, 192)
}

p {
    color: white;
}


.center {
    text-align: center;
}