body {
    background-color: rgb(37, 37, 37);
    font-family: 'Courier New', Courier, monospace;
}

h1, h3 {
    color: rgb(132, 19, 188);
}

h2 {
    color: rgb(192, 189, 192)
}

p {
    color: white;
}


.center {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(132, 19, 188);
}

footer img {
    width: 35px;
    height: 35px;
    
}